* {
    --bs-gutter-x: 0 !important;
}

.title-bg {
    background-color: #98bfd1;
    background-image: url("images/paper_texture.png");
}

.container-fluid {
    margin: 0%;
    padding: 0%;
    background-color: #98bfd1;
}

.navbar {
    padding-left: 20px;
    align-content: right;
    background-color: white;
}

.navbar-spacing-fix {
    padding: 21px;
}

.nav-link {
    color: rgb(100, 100, 100) !important;
    font-weight: bold;
}

.title {
    font-size: 9vw;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px #512E1B;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 0.7;
    font-family: 'Poppins', sans-serif !important;
}

.title-script {
    font-size: 14vw;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #512E1B;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 0.7;
    font-family: 'Imperial Script', cursive;
}

.title-retro {
    font-size: 6vw;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #512E1B;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 0.7;
    font-family: 'Press Start 2P', sans-serif;
    padding-top: 50px;
}

.subtitle-retro {
    color: #512E1B;
    font-size: 1.5vw;
    font-family: 'Press Start 2P', sans-serif;
}

.subtitle-retro2 {
    color: #512E1B;
    font-size: 1.5vw;
    font-family: 'Press Start 2P', sans-serif;
}

.subtitle {
    color: #512E1B;
    font-size: 5vh;
    font-family: 'Poppins', sans-serif !important;
}
.subtitle-script{
    font-size: 7vw;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 1px #512E1B;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 0.7;
    font-family: 'Imperial Script', cursive;
}

.subtitle-script2 {
    font-size: 100px;
    font-weight: bold;
    color: #745d42;
    -webkit-text-stroke: white;
    -webkit-font-smoothing: subpixel-antialiased;
    line-height: 0.1;
    font-family: 'Imperial Script', cursive;
}

.title-spacing {
    margin-top: 175px;
}

.css-button-fully-rounded--black {
    font-size: 25px;
    min-width: 130px;
    height: 75px;
    color: #fff;
    padding: 0px 30px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 50px;
    border: 2px solid #512E1B;
    background: #512E1B;
    margin-bottom: 201px;

}

.css-button-fully-rounded--black:hover {
    background: #fff;
    color: #512E1B;
}

.section-two {
    background-color: #512E1B;
    background-image: url("images/cloth_texture.png");

}

.subheader {
    line-height: 0.8;
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-family: 'Poppins', sans-serif !important;
}

.subheader-script {
    line-height: 0.8;
    font-size: 100px;
    font-weight: bold;
    color: white;
    font-family: 'Imperial Script', cursive;
}

.subheader-retro {
    line-height: 0.8;
    font-size: 75px;
    font-weight: bold;
    color: white;
    font-family: 'Press Start 2P', sans-serif !important;
}

.img1 {
    height: 250px;
    width: 400px;
}

.barcode-img {
    width: 50%;
    margin-left: 100px;
}

.card {
    margin-top: 100px;
    border-width: 5px;
    border-color: white;
}

.list-group-item {
    color: white;
    background-color: #512E1B;
}

.bg-white {
    background-color: #ffffff;
    background-image: url("images/whiteTexture.png");
}

.team-border {
    border-color: #512E1B;
    border-width: 10px;
}


.border-black {
    --bs-border-opacity: 1;
    border-color: #512E1B !important;
}

.team-name {
    color: #512E1B;
    font-size: 30px;
    padding-top: 10px;
    font-family: 'Imperial Script', cursive;

}

.team-desc {
    color: #512E1B;
    font-size: 13px;
}

.involve-icons {
    width: 100px;
}

.sect2-spacing1 {
    margin-top: 200px;
}

.sect2-spacing2 {
    margin-top: 100px;
}

.mission-spacing1 {
    margin-top: 150px;
    margin-left: 100px;
}

.mission-spacing2 {
    padding-top: 100px;
}

.involve-spacing1 {
    margin-top: 75px;
}

.involve-spacing2 {
    margin-top: 150px;
}

.involve-spacing3 {
    margin-top: 225px;
}

.involve-desc {
    color: #512E1B;
    font-weight: bold;
}

.footer-img {
    width: 300px;
}

.py-5 {
    padding-top: 150px !important;
    padding-bottom: 150px !important;
}

.contact-spacing {
    padding-top: 85px;
    font-size: 25px;
    font-weight: bold;
}

.footer-name {
    color: #98bfd1;
    font-family: 'Imperial Script', cursive;

}

.unlink {
    text-decoration: none;
    color: white;
}

.unlink:hover {
    color: #512E1B;
}
.unlink2 {
    text-decoration: none;
    color: #512E1B;
}

.nav-space {
    padding-top: 58px;
}

.nav-color {
    background-color: #ffffff;
}

.navbar {
    background-color: white !important;
}

.border-brown {
    border-color: #512E1B !important;
}

.link {
    color: white;
}

.link:active {
    color: white;
}
.fs-5 {
    font-weight: normal;
}